<!DOCTYPE html>
<html lang="en">

<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<!--===============================================================================================-->

	<style>
		.col-sm-1 {
			float: right;
			width: 46px;
			margin-bottom: 38px;
		}

		div#myTable_filter input {
			background: #fff;
		}

		.dataTables_length label,
		select {
			color: #fff;
		}

		div#myTable_info {
			color: #fff;
		}

		a#myTable_previous {
			color: #fff !important;
		}

		a#myTable_next {
			color: #fff !important;
		}
		th.column1_ {
			font-size: 13px;
		}
		/* table thead tr th {
			width: 100px!important;
		} */
		.dataTables_scrollBody{
			height: 800px;
		}
	</style>
</head>

<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div class="export_t_ex" style="    float: left;">

						<button id="add_databtn" type="button" style="float: right;
						background: #36304a;
						padding: 11px 33px;
						border-radius: 12px;
						margin-top: 21px;
						margin-bottom: 16px;
						color: #fff;" > <span style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Export to excel</button>

					</div>


					<div style="margin-bottom: 23px;">

						<div class="col-sm-1">
							<i class="fa fa-sign-out" style="font-size:36px; cursor: pointer;    color: #fff;"
								aria-hidden="true"></i>

							<!-- <button  type="button" style="float: right;
								background: #36304a;
								padding: 11px 33px;
								border-radius: 12px;
								margin-top: 21px;
								margin-bottom: 16px;
								color: #fff;" onclick="addData()">  Logout</button> -->

						</div>

						<div class="col-sm-1">
							<i class="fa fa-gear" style="font-size:36px;cursor: pointer;    color: #fff;"></i>

						</div>


						<div class="col-sm-1">
							<img src="/images/refresh.gif" id="gif_img" style="height: 35px;display: none;">
							<i id="add_refreh" class="fa fa-refresh" style="font-size:36px; cursor: pointer;    color: #fff;"
								aria-hidden="true" onclick="addData()"></i>


							<!-- 
							<button id="add_databtn" type="button" style="float: right;
							background: #36304a;
							padding: 11px 33px;
							border-radius: 12px;
							margin-top: 21px;
							margin-bottom: 16px;
							color: #fff;" onclick="addData()"> <span style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sync now</button>
		 -->

						</div>
					</div>




					<div class="row" style="width: 100%;margin: 0;">
						

						<div class="col-sm-2" style="border-radius: 8px;background: #fff; margin: 0;padding: 0;margin-top: 69px;">




					


									<h5 style="background: gray;
									border-radius: 8px 8px 0 0px;
									color: #fff;
									font-size: 13px;
									padding: 16px 15px;">Filters</h5>

									<!-- Section: Condition -->
									<section class="mb-4" style="padding: 10px 32px;">

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="City" onclick="updateFilter('City','City')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="new">City

											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="zipcode" onclick="updateFilter('zipcode','zipcode')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="new">Zip Code

											</label>
										</div>

									

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="County" onclick="updateFilter('County','County')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="new">County

											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Redfin_Median_Sale_Price" onclick="updateFilter('Redfin_Median_Sale_Price','Redfin_Median_Sale_Price')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="new">Redfin Median Sale Price (30 Days)
											</label>
										</div>


										

										<div class="form-check pl-0 mb-3 pb-1">
											<input type="checkbox" class="form-check-input filled-in" id="Redfin_Change_in_Sales" onclick="updateFilter('Redfin_Change_in_Sales','Redfin_Change_in_Sales')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="renewed">Redfin % Change in Sales price from Last Year

											</label>
										</div>

										<div class="form-check pl-0 mb-3 pb-1">
											<input type="checkbox" class="form-check-input filled-in" id="Sold_Under_List_Price" onclick="updateFilter('Sold_Under_List_Price','Sold_Under_List_Price')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="renewed">Sold Under List Price

											</label>
										</div>

										

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Redfin_DOM" onclick="updateFilter('Redfin_DOM','Redfin_DOM')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="used">Redfin DOM (30 Days)
											</label>
										</div>
										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Homes_Sold" onclick="updateFilter('Homes_Sold','Homes_Sold')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Homes Sold (30 Days)
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="2018_2019_Cash_Sales" onclick="updateFilter('2018_2019_Cash_Sales','2018_2019_Cash_Sales')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">2018 - 2019 Cash Sales
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="2019_2020_Cash_Sales" onclick="updateFilter('2019_2020_Cash_Sales','2019_2020_Cash_Sales')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">2019 - 2020 Cash Sales
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Population" onclick="updateFilter('Population','Population')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Population
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Minority_Share" onclick="updateFilter('Minority_Share','Minority_Share')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Minority Share
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Density" onclick="updateFilter('Density','Density')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Density
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="High_School_Diploma" onclick="updateFilter('High_School_Diploma','High_School_Diploma')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">% Adults w/o High School Diploma

											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Poverty_Rate" onclick="updateFilter('Poverty_Rate','Poverty_Rate')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Poverty Rate
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="of_Adults_not_Working" onclick="updateFilter('of_Adults_not_Working','of_Adults_not_Working')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">% of Adults not Working
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Housing_Vacancy_Rate" onclick="updateFilter('Housing_Vacancy_Rate','Housing_Vacancy_Rate')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Housing Vacancy Rate
											</label>
										</div>


										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Median_Income_Ratio" onclick="updateFilter('Median_Income_Ratio','Median_Income_Ratio')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Median Income Ratio
											</label>
										</div>


										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Distress_Rank_within_U_S" onclick="updateFilter('Distress_Rank_within_U_S','Distress_Rank_within_U_S')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Distress Rank within U.S.
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Distress_Rank_within_State" onclick="updateFilter('Distress_Rank_within_State','Distress_Rank_within_State')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Distress Rank within State
											</label>
										</div>

										<div class="form-check pl-0 mb-3">
											<input type="checkbox" class="form-check-input filled-in" id="Total_Number_of_Zips_in_State" onclick="updateFilter('Total_Number_of_Zips_in_State','Total_Number_of_Zips_in_State')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="collectible">Total Number of Zips in State
											</label>
										</div>


										<div class="form-check pl-0 mb-3 pb-1">
											<input type="checkbox" class="form-check-input filled-in" id="Distress_Tier"  onclick="updateFilter('Distress_Tier','Distress_Tier')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="renewed">Distress Tier
											</label>
										</div>

									
										
										<div class="form-check pl-0 mb-3 pb-1">
											<input type="checkbox" class="form-check-input filled-in" id="Population_Density_Per_Square_Mile_Number" onclick="updateFilter('Population_Density_Per_Square_Mile_Number','Population_Density_Per_Square_Mile_Number')">
											<label class="form-check-label small text-uppercase card-link-secondary"
												for="renewed">Population Density Per Square Mile Number

											</label>
										</div>

									</section>


							
							<!-- Section: Sidebar -->


						</div>

						<div class="col-sm-10">

							

							<table id="myTable">
								<thead>
									<tr class="table100-head">
										<th class="column1_ " style="width:10px!important" >#</th>
										<th class="column1_ City"  >City</th>
										<th class="column1_ zipcode" style="display: none;">Zip Code</th>
										<th class="column1_ County" style="display: none;">County</th>
										

										<th class="column1_ Redfin_Median_Sale_Price" style="display: none;">Redfin Median Sale Price (30 Days)</th>

										
										
										<th class="column1_ Redfin_Change_in_Sales" style="display: none;">REDFIN % CHANGE IN SALES PRICE FROM LAST YEAR</th>
										<th class="column1_ Sold_Under_List_Price" style="display: none;">SOLD UNDER LIST PRICE
										</th>
									
										</th>
										<th class="column1_ Redfin_DOM" style="display: none;">Redfin DOM (30 Days)</th>
										
										<th class="column1_ Homes_Sold" style="display: none;">HOMES SOLD (30 DAYS)</th>
										

										<th class="column1_ 2018_2019_Cash_Sales" style="display: none;">2018 - 2019 CASH SALES
										</th>
										<th class="column1_ 2019_2020_Cash_Sales" style="display: none;">2019 - 2020 CASH SALES
										</th>
										<th class="column1_ Population" style="display: none;">POPULATION
										</th>

										<th class="column1_ Minority_Share" style="display: none;">MINORITY SHARE

										</th>
										<th class="column1_ Density" style="display: none;">DENSITY
										</th>

										<th class="column1_ High_School_Diploma" style="display: none;">% Adults w/o High School Diploma
										</th>
										<th class="column1_ Poverty_Rate" style="display: none;">POVERTY RATE

										</th>
										<th class="column1_ of_Adults_not_Working" style="display: none;">% OF ADULTS NOT WORKING

										</th>
										<th class="column1_ Housing_Vacancy_Rate" style="display: none;">HOUSING VACANCY RATE

										</th>

										<th class="column1_ Median_Income_Ratio" style="display: none;">MEDIAN INCOME RATIO


										</th>



										<th class="column1_ Distress_Rank_within_U_S" style="display: none;">DISTRESS RANK WITHIN U.S.
										</th>

										<th class="column1_ Distress_Rank_within_State" style="display: none;">DISTRESS RANK WITHIN STATE
										</th>

										<th class="column1_ Total_Number_of_Zips_in_State" style="display: none;">TOTAL NUMBER OF ZIPS IN STATE
										</th>

										



										<th class="column1_ Distress_Tier" style="display: none;">Distress Tier</th>
										<th class="column1_ Population_Density_Per_Square_Mile_Number"  style="display: none;">Population Density Per Square Mile Number</th>
									</tr>
								</thead>
								<tbody id="td_bind">
                                     

								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>




	<script>
		// $(document).ready(function () {
		// 	$('#myTable').DataTable({
		// 		"scrollX": true
		// 	});
			

		// 	$($.fn.dataTable.tables(true)).DataTable() .columns.adjust();


		// });

		$(document).ready(function() {
			$('#myTable').dataTable({
				"bPaginate": false,
				"bLengthChange": false,
				"bFilter": true,
				"bInfo": false,
				"scrollX": true,
				"bAutoWidth": false });
			});



		function updateFilter(flag,id){
            var data = {
				title:flag,
				  status:$("#"+id).is(':checked'),
			}

			var request = $.ajax({
				url: "/api/updateHeader",
				type: "POST",
				headers: {
					'Content-Type': 'application/json'
			    },
			    data: JSON.stringify(data),
				
	       	});

			request.done(function(data) {
			    getHeader();

				
			
			});

			request.fail(function(jqXHR, textStatus) {
				alert( "Request failed: " + textStatus );
			});
			  
		}

		getData();
		getHeader();

		setInterval(function () {
			//getData();
		}, 6000);



		function addData() {

			$("#gif_img").show();
			$("#add_refreh").hide();

			//return false
			

			$.ajax({
				type: "POST",
				url: "/api/addData",
				cache: false,
				success: function (data) {

					console.log(data);
					$("#gif_img").hide();
					$("#add_refreh").show();
				}
			});

		}


		function getData() {
			$.ajax({
				type: "GET",
				url: "/api/getData",
				cache: false,
				success: function (data) {

					var res = data.data;
					$("#td_bind").html('');

					for (let i = 0; i < res.length; i++) {
						var c = i + 1;
						 var html =  '<tr>'+
										  '<td class="">'+c+'</td>'+
										  '<td class="City">'+res[i].City+'</td>'+
										  '<td class="zipcode">'+res[i].Zip_Code+'</td>'+
										  '<td class="County">'+res[i].County+'</td>'+
										  '<td class="Redfin_Median_Sale_Price"><b>'+res[i].Redfin_Median_Sale_Price_+'</b></td>'+
										  '<td  class="Sold_Under_List_Price">'+res[i].Redfin_Change_in_Sales_price_from_Last_Year+'</td>'+
										  '<td class="zipcode">'+res[i].Sold_Under_List_Price+'</td>'+

										  '<td class="Redfin_DOM"><b>'+res[i].Redfin_DOM_+'</b></td>'+
										 '<td class="Homes_Sold"><b>'+res[i].Homes_Sold_+'</b></td>'+
										 '<td class="2018_2019_Cash_Sales">'+res[i].Cash_Sales_2018_2019+'</td>'+
										  '<td class="2019_2020_Cash_Sales ">'+res[i].Cash_Sales_2019_2020+'</td>'+
										  '<td class="Population"> '+res[i].Population+'</td>'+

										  '<td class="Minority_Share">'+res[i].Minority_Share+'</td>'+
										  '<td class="Density"></td>'+
										  '<td class="High_School_Diploma">'+res[i].High_School_Diploma+'</td>'+
										  '<td class="Poverty_Rate">'+res[i].Poverty_Rate+'</td>'+
										  '<td class="of_Adults_not_Working">'+res[i].Adults_not_Working+'</td>'+

										  '<td class="Housing_Vacancy_Rate">'+res[i].Housing_Vacancy_Rate+'</td>'+
										  '<td class="Median_Income_Ratio">'+res[i].Median_Income_Ratio+'</td>'+
										  '<td class="Distress_Rank_within_U_S">'+res[i].Distress_Rank_within+'</td>'+
										  '<td class="Distress_Rank_within_State">'+res[i].Distress_Rank_within_State+'</td>'+
										  '<td class="Total_Number_of_Zips_in_State">'+res[i].Total_Number_of_Zips_in_State+'</td>'+

										  '<td class="Distress_Tier">'+res[i].Distress_Tier+'</td>'+
										  '<td class="Population_Density_Per_Square_Mile_Number">'+res[i].Population_Density_Per_Square_Mile_Number+'</td>'+
										  
									  '</tr>';

						$("#td_bind").append(html);
					}
				}
			});
		}

		function getHeader() {
			$.ajax({
				type: "GET",
				url: "/api/getHeader",
				cache: false,
				success: function (data) {

					var res = data.data;

					for (let i = 0; i < res.length; i++) {
						 console.log(res[i].status)
						 if(res[i].status=='true'){
							$('#'+res[i].title).prop('checked', true);
							$('.'+res[i].title).show();
						 }else{
							$('.'+res[i].title).hide();
							$('#'+res[i].title).prop('checked', false);
						 }
					}
				}
			});
		}
	</script>

</body>

</html>